<main>
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  </style>
  <div class="container">
  <h1>Teste page</h1>
  <form action="/question1" method="post" class="form-group mb-2">
  <label for="inputPassword2">1 - What is 1 + 1 ?</label>
  <input type="text" name="text" class="form-control" id="inputPassword2">
  <div class="btn-group">
  <button type="submit" class="btn btn-primary">Next</button>
  </div>
  </form>
  </div>
</main>
