<main>
    <div class="container">
  <h1>Teste page</h1>
  <form action="/question2" method="post" class="form-group mb-2">
  <label for="inputPassword2">3 - what is the square root of 100 ?</label>
  <input type="text" name="text" class="form-control" id="inputPassword2">
  <div class="bt-group">
  <a href="javascript:history.go(-1);" class="btn btn-primary">Previus</a>
  <button type="submit" class="btn btn-primary">Next</button>
  </div>
  </form>
  </div>
</main>